.main{
	height:308px;
	overflow-x:hidden;
	overflow-y: scroll;
	h2{ 
		font-size:16px;
		line-height:1.6;
		color:#333;
		margin-bottom:20px; 
		border-bottom: 1px solid #eee; 
		font-weight:normal
	}
} 

.icon_lists{
	 display: block;
	 // padding-left:10px
	li{
		float: left;
		font-size:14px;
		width: 60px;
    	height: 60px;
    	cursor: pointer;
		text-align: center;
		i{
			font-size: 14px;
			line-height: 30px;
			color: #333;
			-webkit-transition: font-size 0.25s ease-out 0s;
			-moz-transition: font-size 0.25s ease-out 0s;
			transition: font-size 0.25s ease-out 0s}
	    i:hover { font-size: 22px}
	}
} 