.dark-white {
  color: $dark;
  background-color: $white;
}
.min-black {
  color: $min-black;
  background-color: $black-color;
}
.black {
  background-color: $black;
  color: $black-color;
}

.dark {
  background-color: $dark;
  color: $dark-color;
}

.grey {
  background-color: $grey;
  color: $grey-color;
}

.primary {
  background-color: $primary;
  color: $primary-color;
}

.info {
  background-color: $info;
  color: $info-color;
}
.warn {
  background-color: $warn;
  color: $warn-color;
}
.danger {
  background-color: $danger;
  color: $danger-color;
}