.pb-s { padding-bottom: 0.15rem !important;  }
.pb-m { padding-bottom: 0.3rem !important;  }
.pb-l { padding-bottom: 0.6rem !important;  }
.pa-s { padding: 0.15rem !important; }
.pa-m { padding: 0.3rem !important; }
.pa-l { padding: 0.6rem !important; }

.mr-s { margin-right: 0.15rem !important;  }
.mr-m { margin-right: 0.3rem !important;  }
.mr-l { margin-right: 0.6rem !important;  }
.mb-s { margin-bottom: 0.15rem !important;  }
.mb-m { margin-bottom: 0.3rem !important;  }
.mb-l { margin-bottom: 0.6rem !important;  }
